<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handmade: Admin</title>
</head>
<body>
    <form action="/admin/addProducts" method="POST">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Price:</p>
        <input type="text" name="price">
        <p>Image URL:</p>
        <input type="text" name="imgUrl">
        <p>Category:</p>
        <input type="text" name="category">
        <div><button type="submit">Add Product</button></div>
    </form>
</body>
</html>