<%-include("partials/header.ejs")%>
<section class="products">
    <div class="row row-cols-1 row-cols-lg-3 gy-5">
     
        <div class="col">
            <div class="card mx-auto" style="width: 20rem;">
                <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name</h5>
                  <h2 class="card-text">Rs 10</h2>
                  <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
                  <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
                  <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
                </div>
              </div> 
        </div>
        
        <div class="col">
          <div class="card mx-auto" style="width: 20rem;">
              <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <h2 class="card-text">Rs 10</h2>
                <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
                <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
              </div>
            </div> 
      </div>
      
      <div class="col">
        <div class="card mx-auto" style="width: 20rem;">
            <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <h2 class="card-text">Rs 10</h2>
              <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
              <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
              <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
            </div>
          </div> 
    </div>
    
    <div class="col">
      <div class="card mx-auto" style="width: 20rem;">
          <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <h2 class="card-text">Rs 10</h2>
            <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
            <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
          </div>
        </div> 
  </div>
  
  <div class="col">
    <div class="card mx-auto" style="width: 20rem;">
        <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Name</h5>
          <h2 class="card-text">Rs 10</h2>
          <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
          <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
          <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
        </div>
      </div> 
</div>

<div class="col">
  <div class="card mx-auto" style="width: 20rem;">
      <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h2 class="card-text">Rs 10</h2>
        <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
        <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
      </div>
    </div> 
</div>

<div class="col">
  <div class="card mx-auto" style="width: 20rem;">
      <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h2 class="card-text">Rs 10</h2>
        <a href="#" class="mx-2"><button class="btn-pink">Buy now</button></a>
        <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 cart"> <span style="font-size: 2rem; color: black;"><i class="fas fa-shopping-cart"></i></span></a> 
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to cart" class="mx-3 heart"> <span style="font-size: 2rem; color: Tomato;"><i class="fas fa-heart"></i></span></a>
      </div>
    </div> 
</div>

    </div>
</section>
<%-include("partials/footer.ejs")%>