<%-include("partials/header.ejs")%>
<section class="register">
    <div class="card-div">
        <div class="card mx-auto" style="width:21rem;">
            <div class="card-body">
              <h1 class="card-title">REGISTER</h1>
             <form  action="" class="py-3">
                <h6>Email: </h6>
                <input type="email" class="col-12 my-1 py-1">
                <h6>Password: </h6>
                <input type="password"class="col-12 my-1 py-1">
                <button type="submit" class="btn btn-dark col-12 mt-5">Register</button>
             </form>
            </div>
          </div>
    </div>

</section>
<%-include("partials/footer.ejs")%>