<%-include("partials/header.ejs")%>
<section class="wish">
    <div class="row row-cols-1 gy-5 mx-auto">
     
        <div class="col">
           
           
            <div class="row row-col-1 row-col-md-2">
                <div class="col">
                    <div class="card mx-auto" style="width: 20rem;">
                        <img src="https://i.pinimg.com/originals/17/4c/4b/174c4ba6ab3ba7fcaba28a8c4ec4dba1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Name</h5>
                          <h2 class="card-text">Rs 10</h2>
                        </div>
                      </div> 
                </div>
               <div class="col">
                   <div class="my-5" style="text-align: center;">
                    <a href="#"><button class="btn-delete"><i class="fas fa-trash-alt"></i> Delete from wishList</button></a> 
                   </div>
                   <div class="my-5"  style="text-align: center;">
                    <a href="#"><button class="btn-move"><i class="fas fa-heart"></i> Move to the Cart</button></a> 
                   </div>
               </div>
            </div>      
    
        
        </div>
        <hr>
</section>
<%-include("partials/footer.ejs")%>