/* navbar */

.navbar{
    background-color: black;
    color: white;
}

.navbar-brand{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
}

.dropdown-menu-black{
    background-color: black;
}


/* footer */
footer{
    background-color: black;
    color: white;
}

footer a{
    color:white;
    text-decoration: none;
}

footer a:hover{
    color:grey;
}

footer h3{
    font-weight: lighter;
}

.copywrite{
    text-align: center;
}