.products{
    padding-top:5rem;
}
.btn-pink{
    background-color: #ff1493;
    color:white;
    border: 1px solid #ff1493;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.btn-black{
    background-color: rgba(0, 0, 0, 0.877);
    color:white;
    border: 1px solid rgba(0, 0, 0, 0.877);
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.btn-pink:hover{
    background-color: #ff007f;
    border: 1px solid #ff007f;
}

.btn-black:hover{
    background-color: black;
    border: 1px solid black;
}

.card{
    box-shadow: 5px 5px 10px grey;
}

.heart i{
    text-shadow: 5px 5px 8px grey;
}
.cart i{
    text-shadow: 5px 5px 8px grey;
}
.heart i:hover{
    text-shadow: 5px 5px 8px transparent;
    color:red;
}

.cart i:hover{
    text-shadow: 5px 5px 8px transparent;
    color:black;
}